[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.16"
docutils = "==0.19"
gunicorn = "==22.0.0"
whitenoise = "==6.3.0"
psycopg2-binary = "2.9.6"
tzdata = "==2022.7"
coverage = "==7.2.5"
python-dotenv = "*"
isort = "*"
flake8 = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.11"
