[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
docutils = "==0.18.1"
django-on-heroku = "==1.1.2"
gunicorn = "==20.1.0"

[dev-packages]

[requires]
python_version = "3.10"
