{% extends "base.html" %}

{% block title %}DjangoCustomUserStarter - Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        Hi, {{ user.username | capfirst }}:
        <p><a href="{% url 'logout' %}">Log Out</a></p>
        <p><a href="{% url 'edit_profile' user.id %}">Edit Profile</a></p>
        <p><a href="{% url 'password_change' %}">Password Change</a></p>
        <p><a href="{% url 'password_reset' %}">Password Reset</a></p>
        {% if user.is_staff %}
            <h2>Staff Links:</h2>
            <a
                href="/admin"
                target="_blank"
                >
                Django Admin Interface
            </a><br>
        {% endif %}
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock %}